<footer class="center">
  <div class="measure">
    <small>
      <p>Most photos are shot on the unceded territories of the <a href="https://www.squamish.net">Sḵwx̱wú7mesh Úxwumixw</a>, <a href="https://twnation.ca">səl̓ilw̓ətaʔɬ</a>, <a href="https://www.musqueam.bc.ca">xʷməθkʷəy̓əm</a>, <a href="http://www.kwikwetlem.com">kʷikʷəƛ̓əm</a>, <a href="https://www.bcafn.ca/first-nations-bc/lower-mainland-southwest/katzie">Katzie</a>, <a href="https://www.kwantlenfn.ca">Kwantlen</a>, <a href="https://www.bcafn.ca/first-nations-bc/lower-mainland-southwest/qayqayt-first-nation">Qayqayt</a> and <a href="http://www.stolonation.bc.ca">Stó:lō</a> nations.<br>
      This website is open source with code and photos accessible through <a href="https://github.com/jacosfrets/jacosfrets.github.io/tree/master/images">Github</a><br>
      Written and shot by <a href="https://www.instagram.com/jacosfrets/">@jacosfrets</a>.
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>
